
body {
      width: 200PX;
      margin: auto;
      background: aquamarine;
      padding: 0PX;
      font-family: cursive;
    }
    head{
       width: 200PX;
      margin: auto;
      padding: 0PX;
      font-family: fantasy;
         }